<h1>Green-Tower</h1>

<form>
  <div class="mb-3">

    <input type="username" class="form-control" placeholder="Username" id="username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
  </div>
  <button style="background-color: green;", type="login" class="btn btn-primary">Login</button>
</form>

{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}
