<div class="text-center">

  <h1 style="color: #3CB371">Green-Tower</h1>
  <h2>Please log in</h2>
  <form method="POST" action="/login">
  <div class="mb-3">
    <input type="text" name="username"class="col-form-label" placeholder="Username" id="username">
  </div>
  <div class="mb-3">
    <input type="password" name="password" class="col-form-label" placeholder="Password" id="exampleInputPassword1">
  </div>
  <button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary" align="right">Login</button>
</form>

{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}
</div>
