<form method="POST" action="/signup">
  <label>Username</label>
  <input type="username" name="username" placeholder="choose a username"  >

  <label>Password</label>
  <input type="password" name="password" placeholder="choose a password"  >
  <button>Sign Up</button>
</form>


{{#if msg}}
  <div class="error">{{msg}}</div>
{{/if}}