

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Green-Tower</span>
    </a>

    <ul class="nav nav-pills">

      <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
    </ul>
  </header>
</div>

<br>

<div class="start">
  <div class="tower-col">
    <h1>Hydroponics</h1>
  <ul>
    <p>the innovative way of gardening.</p>
    <p>Grow plants without soil.</p>
    <p>Reduce your water usage by 85%.</p>
    <p>Less work for you due to the self watering-system.</p>
    <p>You can even plant the whole year under the right condition.</p>
    <p>Have a farm at home without having a farm, 
      you need less space than planting with soil.</p>
  </ul>
  </div>
  <img class="startimg" src="images/Tower.png">
</div>


 
