<h1>{{title}}</h1>
<p>Welcome Gardener</p>

<a href="/login">
  <button style="background-color:#4169E1;" type="submit" class="btn btn-primary">Login</button>
</a>
<a href="/signup">
  <link style="background-color:#4169E1;" type="submit">Signup</button>
</a>
<div class="card text-right card w-50" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Hydroponics </h5>
    <p class="card-text">the innovative way of gardening.
  Grow plants without soil.
  Reduce your water usage by 85%
  Less work for you due to the self watering-system.
  You can even plant the whole year under the right condition.
  Have a farm at home without haveing a farm, 
  you need less space than planting with soil.</p>
  </div>
</div>
<br>

<img src="images/Tower.png">


<div class="card text-right card w-45" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> Hydroponics </h5>
    <p class="card-text">the innovative way of gardening.
  Grow plants without soil.
  Reduce your water usage by 85%
  Less work for you due to the self watering-system.
  You can even plant the whole year under the right condition.
  Have a farm at home without haveing a farm, 
  you need less space than planting with soil.</p>
  </div>
</div>

 
