<h1>{{title}}</h1>
<p>Welcome Gardener</p>

<a href="/login">
  <button style="background-color:#4169E1;" type="submit" class="btn btn-primary">Login</button>
</a>
<a href="/signup">
  <link style="background-color:#4169E1;" type="submit">Signup</button>
</a>

<br>

<div class="start">
  <div class="tower-col">
  <h1>Hydroponics</h1>
  <ul>
  <p>the innovative way of gardening.</p>
  <p>Grow plants without soil.</p>
  <p>Reduce your water usage by 85%.</p>
  <p>Less work for you due to the self watering-system.</p>
  <p>You can even plant the whole year under the right condition.</p>
  <p>Have a farm at home without having a farm, 
  you need less space than planting with soil.</p>
  </ul>
  </div>
  <img class="startimg" src="images/Tower.png">
</div>


 
