

{{!-- Headline --}}
<div>
<h1>YOUR TOWERS</h1>
</div>


{{!-- FIRST TOWER CARD--}}
<section>
{{#if naming}}
<form method="POST" action="/create-tower">
  <label>Towername</label>
  <input type="towername" name="towername" placeholder="name your tower"  >
  <button type="submit" name="create-tower">create</button>
  </form>
 {{/if}} 
 <div>
 {{#each towers}}
 <h2>{{this.towername}}</h2>
  <a href="/plants/{{this._id}}"><button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary" align="right">to the plants</button></a>
 {{/each}}
 <button type="submit" name="anotherTower">create a new tower</button>
</div>
<div> 
    <img src="images/Tower.png">
    <p>You planted no plants yet! <br>
    Add plants below</p>
</div>
<div>
    
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary" align="right">Login</button>
      </div>
    </div>
  </div>
</div>
</div>

<div>
    
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary" align="right">Login</button>
      </div>
    </div>
  </div>
</div>
</div>

<div>
    
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button style="background-color:#4169E1;", type="loginbtn" class="btn btn-primary" align="right">Login</button>
      </div>
    </div>
  </div>
</div>
</div>


</section>

