body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3fcf0;
}

a {
  color: #00b7ff;
}

h1 {
  color: #3a3b39;
}

.plants-img {
  width: 80%;
  margin: 20px;
}

#towerpic {
  width: 30%;
}

.text-center {
  width: 300 px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
}
.profile-btns {
  border-radius: 4px;
  background-color: #299682;
  border: none;
  color: white;
  margin: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Profile */
.margin {
  margin-top: 20px;
}

.align {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.card-body {
  display: flex;
  justify-content: center;
}
.card-inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
}

.toRight {
  display: flex;
  justify-content: flex-end;
}

.tower {
  display: flex;
  justify-content: center;
}
.tower-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tower-col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.colour {
  background-color: #e4e8e3;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
}

.radius {
  border-radius: 40px;
}

.fontSize {
  font-size: 1.5em;
}

.fontSize2 {
  font-size: 1.3em;
}

/*btn delete tower*/
.btn-del {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
}

/* Start-Page*/

.start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  font-size: x-large;
}

.startimg {
  width: 60%;
}

.nav-item {
  color: #3d85c6;
}
