body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f3fcf0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.plants-img {
  width: 80%;
}

#towerpic {
  width: 30%;
}

.text-center {
  width: 300 px;
}

.btn-group {
  padding: 10px 24px;
  cursor: pointer;
  float: right;
  border-color: none;
  color: green;
  display: flex;
  justify-content: flex-end;
}
.profile-btns {
  border-radius: 4px;
  background-color: #4169e1;
  color: white;
  margin: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Profile */

.card-body {
  display: flex;
  justify-content: center;
}
.card-inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 50px;
}

.toRight {
  display: flex;
  justify-content: flex-end;
}

.tower {
  display: flex;
  justify-content: center;
}
.tower-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.colour {
  background-color: teal;
  margin: 30px;
}
