body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.plants-img {
  width: 80%;
}

#towerpic {
  width: 10%;
}

.text-center {
  width: 300 px;
}

.btn-group {
  padding: 10px 24px;
  cursor: pointer;
  float: right; 
  border-color: none;
  color: green;
}
.profile-btns {
  border-radius: 4px;
  background-color:#4169E1;
  color: white;
}




